.changePass {
  margin-top: 15px;
  margin-bottom: 35px;
}

.passwords {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 70px;
  overflow: hidden;
  padding: 0px 5px 0px 5px;
}

.passwordItem {
  margin-top: 20px;
  margin-bottom: 5px;
}

.passwordInput {
  font-size: 16px;
  padding: 10px 12px;
}

.btnPass {
  padding: 20px 20px;
  font-size: 17px;
  width: 200px;
}

@media (max-width: 1000px) {
  .passwords {
    display: grid;
    grid-template-columns: 1fr;
  }
}
